# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Vardian
/x64
/vcpkg_installed/x64-windows-static
/vcpkg_installed/x64-windows
/Vardian.aps
/Release
/vcpkg_installed
*.bak
/Vardian_Adv_Setup/Vardian_Adv_Setup-cache
*.msi
/Debug
